// h4 {
//     letter-spacing: -1px;
//     font-weight: 400
// }
// label {
//     margin-bottom: 0;
//     font-size: 14px;
//     font-weight: 500;
//     color: #777;
//     padding-left: 3px
// }
// select {
//     display: block;
//     width: 100%;
//     border: 1px solid #ddd;
//     border-radius: 10px;
//     height: 40px;
//     padding: 5px 10px
// }

// select:focus {
//     outline: none
// }

.wrapper {
  padding: 30px 50px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 10px auto;
  max-width: 600px;
}

.img {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  object-fit: cover;
}

.imgSection__para {
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
  text-align: justify;
}

.deactivate__para {
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
  text-align: justify;
}

// .imgSection b,
// .imgSection button,
// .deactivate b {
//     font-size: 14px
// }

// .form-control {
//     border-radius: 10px
// }

// // input[placeholder] {
// //     font-weight: 500
// // }

// .form-control:focus {
//     box-shadow: none;
//     border: 1.5px solid #0779e4
// }

@media (max-width: 576px) {
  .wrapper {
    padding: 25px 20px;
  }

  #deactivate {
    line-height: 18px;
  }
}
