@import "./_variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
