$dark-pink: #d23078;
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  // background-image: linear-gradient(44deg, $dark-pink 24%, #fe6161 75%, #ff7955 95%), linear-gradient(to bottom, #aaaaaa, #aaaaaa);
}
.wrapper {
  width: 423px;
  margin: auto;
  position: relative;
  z-index: 12;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);
  background-color: #f2f2f2;
  border-radius: 10px;
}
.heading {
  font-size: 28px;
  line-height: 1.24;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  color: #444444;
}
.input {
  border: none;
  border-bottom: 1px solid #cccccc;
  display: block;
  width: 100%;
  margin: 0px;
  font-size: 12.7px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.37;
  letter-spacing: 1px;
  color: #444444;
  background: none;
}
.submit {
  margin: auto;
  width: 100%;
  display: block;
  border: none;
  box-shadow: 0 10px 27px 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
      to top,
      $dark-pink 84%,
      #fe6161 23%,
      #ff7955
    ),
    linear-gradient(to bottom, #e9486d, #e9486d);
}
